# Database Configuration
DB_HOST=209.38.56.198
DB_USER=postgres
DB_PASSWORD=your_password_here
DB_NAME=ais_db
DB_PORT=5432
DB_MAX_CONNECTIONS=20

# AIS Stream Configuration
AIS_STREAM_IO_API_KEY=api_key

# Kafka Configuration
KAFKA_ENABLED=true
KAFKA_BROKERS=localhost:9092
KAFKA_CLIENT_ID=maritime-ais-stream
KAFKA_GROUP_ID=maritime-ais-stream-consumers
KAFKA_TOPIC=ais.raw.messages
KAFKA_TOPIC_PARTITIONS=1
KAFKA_TOPIC_REPLICATION_FACTOR=1

# Environment
NODE_ENV=development

# Logger
LOG_LEVEL=info
